/* Navbar.css */
.navbar-menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-right {
    display: none;
  }

  .navbar-menu-icon {
    display: block;
  }

  .navbar-expanded .navbar-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #301934;
    width: 100%;
    position: absolute;
    top: 55px;
    left: 0;
    border-top: 1px solid purple;
    padding: 10px 0;
  }

  .navbar-expanded .navbar-link {
    margin-left: 0;
    padding: 10px 20px;
  }
}
